$primary-text-color: #455A64;

* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
	font-family: serif;
	color: $primary-text-color;
}

img, embed, video, object {
	max-width: 100%;
}

a, button {
	outline: none;
	cursor: pointer;
}

html {
	background: radial-gradient(rgba(0,206,201,0) 40% , rgba(0, 206, 201,0.8));
}

header {
	text-align: center;
	padding-top: 30px;
	color: #e67e22;
	font-size: 1.1em;
}

.container {
	height: 650px;
	width: 600px;
	margin: auto;
	padding-top: 40px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
}

ul {
	width: 100%;
	list-style: none;
	display: flex;
	flex-flow: row nowrap;
	margin-bottom: 20px;

	li {
		margin-left: 30px;
		border: 1px solid #74b9ff;
		cursor: pointer;
		padding: 5px 20px;
		font-size: 20px;
		color: #2d3c49;
		transition: 0.2s;
	}

	li:hover,
	li.hover {
		border: 1px solid #ff7675;
		color: white;
		background: #ff7675;
		transform: scale(1.2);
	}
}

span {
	font-size: 20px;
	
	p {
		font-size: 1.2em;
		display: inline-block;
		color: #2d3c49;
	}
}

.image-display {
	position: relative;
	height: 430px;

	.clicker {
		height: 430px;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.cat-change {
		width: 30px;
		height: 30px;
		position: absolute;
		background: transparent;
		bottom: 15px;
	}

	.next {
		left: 555px;
	}

	.previous {
		transform: rotate(180deg);
		left: 15px;
	}
}

%buttons-shared {
	background: none;
	border: 1px solid #74b9ff;
	padding: 5px;
	transition: 0.2s;
}

.attribution {
	align-self: flex-end;
	@extend %buttons-shared;

	.link {
		color: $primary-text-color;
		font-family: serif;
		text-decoration: none;
		font-size: 17px;
	}
}

.attribution:hover {
	background: #74b9ff;
	.link {
		color: white;
	}
}

.count-and-admin {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	position: relative;

	.count-display {
		
		p {
			font-size: 30px;
			display: inline-block;
		}

		.counter {
			margin-left: 3px;
			color: #2d3c49;
		}
	}

	.admin-button {
		position: absolute;
		right: 0;
		@extend %buttons-shared;
		font-size: 17px;
		font-family: serif;
		color: $primary-text-color;
	}

	.admin-button:hover {
		background: #74b9ff;
		color: white;
	}
}

.admin.container {
	height: auto;
}

.admin-form {
	font-size: 20px;

	div {
		text-align: right;
		margin-bottom: 5px;

		input {
			font-size: 17px;
			height: 23px;
			color: #2d3c49;
			font-weight: 200;
			font-family: serif;
		}
	}
	button {
		@extend %buttons-shared;
		color: $primary-text-color;
	}
	button:hover {
		background: #74b9ff;
		color: white;
	}
}